section.slide.header h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1.2em;
  font-size: 300%;
  line-height: 1;
  text-align: center;
}

pre {
  line-height: 1.5;
  font-size: 50%;
}

pre code {
  width: 100%;
}
